<div id="fb-root"></div>
<div class="block_fb">
    <h3 class="fb_title"><i></i>Fanpage Facebook</h3>
    <div class="fb_wrapper">
        <span class="vach_top"></span>
        <div class="fb-like-box" data-href="https://www.facebook.com/MapuShophangxachtayuc" data-width="250" data-height="365" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
        <span class="vach_bot"></span>
    </div>
</div>
