<div class="bg_moddum">
    <div class="tieude"><span class="b_ttnbat"></span>Tin Tức Ngẫu Nhiên</div>
    <div class="moddum">
        <div class="border1">
            <span class="vach_top"></span>
            <div class="news_random bg_news_block">
                <ul>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/5-loai-mat-na-tu-nhien-danh-bay-mun-dau-den-2.html" title="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen">
                                <img src='images/143105554953.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/143105554953.jpg&mode=crop&size=250x156'" alt="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen" title="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/5-loai-mat-na-tu-nhien-danh-bay-mun-dau-den-2.html" class="blocktin">5 loại mặt nạ tự nhiên đánh bay mụn đầu đen</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/21-thuc-pham-giam-can-duoc-the-gioi-cong-nhan-2.html" title="21 thực phẩm giảm cân được thế giới công nhận">
                                <img src='images/143105559359.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2015/05/08/10/26/143105559359.jpg&mode=crop&size=250x156'" alt="21 thực phẩm giảm cân được thế giới công nhận" title="21 thực phẩm giảm cân được thế giới công nhận" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/21-thuc-pham-giam-can-duoc-the-gioi-cong-nhan-2.html" class="blocktin">21 thực phẩm giảm cân được thế giới công nhận</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/nhung-loai-trai-cay-doi-dao-vitamin-c-2.html" title="Những loại trái cây dồi dào Vitamin C">
                                <img src='images/143105563540.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2015/05/08/10/27/143105563540.jpg&mode=crop&size=250x156'" alt="Những loại trái cây dồi dào Vitamin C" title="Những loại trái cây dồi dào Vitamin C" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/nhung-loai-trai-cay-doi-dao-vitamin-c-2.html" class="blocktin">Những loại trái cây dồi dào Vitamin C</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/10-loai-tra-duoc-chong-met-moi-2.html" title="10 loại trà dược chống mệt mỏi">
                                <img src='images/143105570758.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2015/05/08/10/28/143105570758.jpg&mode=crop&size=250x156'" alt="10 loại trà dược chống mệt mỏi" title="10 loại trà dược chống mệt mỏi" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/10-loai-tra-duoc-chong-met-moi-2.html" class="blocktin">10 loại trà dược chống mệt mỏi</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/nhan-dang-thuc-pham-sinh-hoc-2.html" title="Nhận dạng thực phẩm sinh học">
                                <img src='images/143105580268.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2015/05/08/10/30/143105580268.jpg&mode=crop&size=250x156'" alt="Nhận dạng thực phẩm sinh học" title="Nhận dạng thực phẩm sinh học" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/nhan-dang-thuc-pham-sinh-hoc-2.html" class="blocktin">Nhận dạng thực phẩm sinh học</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/kem-nhau-thai-cuu--2.html" title="Kem nhau thai cừu">
                                <img src='images/143177099878.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2015/05/16/05/09/143177099878.jpg&mode=crop&size=250x156'" alt="Kem nhau thai cừu" title="Kem nhau thai cừu" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/kem-nhau-thai-cuu--2.html" class="blocktin">Kem nhau thai cừu</a></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <p class="clear  float_r"><a href="http://mapu.vn/tin_tuc/" class="xemtatca_blok" style="margin-top: 10px;"><i>Xem tất cả</i></a></p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".news_random").jCarouselLite({
            auto: 3000,
            speed: 1000,
            visible: 2,
            vertical: true,
            hoverPause: true,
            scroll: 1
        });
    });
</script>
