<div class="bg_moddum">
    <div class="tieude"><span class="b_ttnbat"></span>Tin nổi bật</div>
    <div class="moddum">
        <div class="border1">
            <span class="vach_top"></span>
            <div class="news_hot bg_news_block">
                <ul>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/thuc-pham-chuc-nang-la-gi-dung-nhu-the-nao-2.html" title="Thực phẩm chức năng là gì? Dùng như thế nào?">
                                <img src='images/145855437939.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/145855437939.jpg&mode=crop&size=250x156'" alt="Thực phẩm chức năng là gì? Dùng như thế nào?" title="Thực phẩm chức năng là gì? Dùng như thế nào?" /></a>
                        </div>
                        <div class="block_tit_news">
                            <a href="http://mapu.vn/thuc-pham-chuc-nang-la-gi-dung-nhu-the-nao-2.html" class="blocktin">Thực phẩm chức năng là gì? Dùng như thế nào?</a>
                        </div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/cach-pha-sua-kid-essentials-2.html" title="Cách pha sữa Kid essentials">
                                <img src='images/144585325963.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/144585325963.jpg&mode=crop&size=250x156'" alt="Cách pha sữa Kid essentials" title="Cách pha sữa Kid essentials" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/cach-pha-sua-kid-essentials-2.html" class="blocktin">Cách pha sữa Kid essentials</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/meo-phan-biet-hang-xach-tay-uc-chinh-hang-2.html" title="Mẹo phân biệt hàng xách tay Úc chính hãng">
                                <img src='images/144539620742.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/144539620742.jpg&mode=crop&size=250x156'" alt="Mẹo phân biệt hàng xách tay Úc chính hãng" title="Mẹo phân biệt hàng xách tay Úc chính hãng" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/meo-phan-biet-hang-xach-tay-uc-chinh-hang-2.html" class="blocktin">Mẹo phân biệt hàng xách tay Úc chính hãng</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/5-loai-mat-na-tu-nhien-danh-bay-mun-dau-den-2.html" title="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen">
                                <img src='images/143105554953.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/143105554953.jpg&mode=crop&size=250x156'" alt="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen" title="5 loại mặt nạ tự nhiên đánh bay mụn đầu đen" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/5-loai-mat-na-tu-nhien-danh-bay-mun-dau-den-2.html" class="blocktin">5 loại mặt nạ tự nhiên đánh bay mụn đầu đen</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/cac-loai-my-pham-uc-duoc-tin-dung-o-viet-nam-2.html" title="Các loại mỹ phẩm Úc được tin dùng ở Việt Nam">
                                <img src='images/144773200827.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/144773200827.jpg&mode=crop&size=250x156'" alt="Các loại mỹ phẩm Úc được tin dùng ở Việt Nam" title="Các loại mỹ phẩm Úc được tin dùng ở Việt Nam" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/cac-loai-my-pham-uc-duoc-tin-dung-o-viet-nam-2.html" class="blocktin">Các loại mỹ phẩm Úc được tin dùng ở Việt Nam</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/the-nao-la-my-pham-sach-thien-nhien--2.html" title="THẾ NÀO LÀ MỸ PHẨM SẠCH (THIÊN NHIÊN)">
                                <img src='images/143298799340.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='images/143298799340.jpg&mode=crop&size=250x156'" alt="THẾ NÀO LÀ MỸ PHẨM SẠCH (THIÊN NHIÊN)" title="THẾ NÀO LÀ MỸ PHẨM SẠCH (THIÊN NHIÊN)" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/the-nao-la-my-pham-sach-thien-nhien--2.html" class="blocktin">THẾ NÀO LÀ MỸ PHẨM SẠCH (THIÊN NHIÊN)</a></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <p class="clear  float_r"><a href="http://mapu.vn/tin_tuc/" class="xemtatca_blok" style="margin-top: 10px;"><i>Xem tất cả</i></a></p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".news_hot").jCarouselLite({
            auto: 3000,
            speed: 1000,
            visible: 2,
            vertical: true,
            hoverPause: true,
            scroll: 1
        });
    });
</script>
