<div class="bg_moddum">
    <div class="tieude"><span class="b_ttnbat"></span>Tin Tức Mới</div>
    <div class="moddum">
        <div class="border1">
            <span class="vach_top"></span>
            <div class="news_new bg_news_block">
                <ul>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/nguyen-nhan-khong-ngo-khien-ban-tang-can-2.html" title="Nguyên nhân không ngờ khiến bạn tăng cân">
                                <img src='images/146287499839.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2016/05/10/10/09/146287499839.jpg&mode=crop&size=250x156'" alt="Nguyên nhân không ngờ khiến bạn tăng cân" title="Nguyên nhân không ngờ khiến bạn tăng cân" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/nguyen-nhan-khong-ngo-khien-ban-tang-can-2.html" class="blocktin">Nguyên nhân không ngờ khiến bạn tăng cân</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/3-loai-sua-ong-chua-cua-uc-ua-chuong-nhat-hien-nay-2.html" title="3 loại sữa ong chúa của Úc ưa chuộng nhất hiện nay">
                                <img src='images/146286672017.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2016/05/10/07/52/146286672017.jpg&mode=crop&size=250x156'" alt="3 loại sữa ong chúa của Úc ưa chuộng nhất hiện nay" title="3 loại sữa ong chúa của Úc ưa chuộng nhất hiện nay" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/3-loai-sua-ong-chua-cua-uc-ua-chuong-nhat-hien-nay-2.html" class="blocktin">3 loại sữa ong chúa của Úc ưa chuộng nhất hiện nay</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/cac-cach-cho-con-bu-hieu-qua-2.html" title="Các cách cho con bú hiệu quả">
                                <img src='images/146276790828.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2016/05/09/04/25/146276790828.jpg&mode=crop&size=250x156'" alt="Các cách cho con bú hiệu quả" title="Các cách cho con bú hiệu quả" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/cac-cach-cho-con-bu-hieu-qua-2.html" class="blocktin">Các cách cho con bú hiệu quả</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/tac-dung-cua-tri-nam-tan-nhang-cua-nhau-thai-cuu-uc-2.html" title="Tác dụng của trị nám tàn nhang của nhau thai cừu úc">
                                <img src='images/146250628271.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2016/05/06/03/44/146250628271.jpg&mode=crop&size=250x156'" alt="Tác dụng của trị nám tàn nhang của nhau thai cừu úc" title="Tác dụng của trị nám tàn nhang của nhau thai cừu úc" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/tac-dung-cua-tri-nam-tan-nhang-cua-nhau-thai-cuu-uc-2.html" class="blocktin">Tác dụng của trị nám tàn nhang của nhau thai cừu úc</a></div>
                    </li>
                    <li>
                        <div class="img_album">
                            <a href="http://mapu.vn/meo-nhan-biet-hang-xach-tay-uc-chinh-hang-2.html" title="Mẹo nhận biết hàng xách tay Úc chính hãng">
                                <img src='images/146250333537.jpg_crop250x156.jpg' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/news/2016/05/06/02/55/146250333537.jpg&mode=crop&size=250x156'" alt="Mẹo nhận biết hàng xách tay Úc chính hãng" title="Mẹo nhận biết hàng xách tay Úc chính hãng" /></a>
                        </div>
                        <div class="block_tit_news"><a href="http://mapu.vn/meo-nhan-biet-hang-xach-tay-uc-chinh-hang-2.html" class="blocktin">Mẹo nhận biết hàng xách tay Úc chính hãng</a></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <p class="clear  float_r"><a href="http://mapu.vn/tin_tuc/" class="xemtatca_blok" style="margin-top: 10px;"><i>Xem tất cả</i></a></p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".news_new").jCarouselLite({
            auto: 3000,
            speed: 1000,
            visible: 2,
            vertical: true,
            hoverPause: true,
            scroll: 1
        });
    });
</script>
